<div>
	<input class="input-elem" type="text">
	<div class="am-editor-toolbar">
		<button>字号</button>
		<button ng-click="addBold()">加粗</button>
		<button ng-click="undo()">撤销</button>
		<button ng-click="redo()">恢复</button>
		<button>颜色</button>
		<button>下划线</button>
		<button>插入图片</button>
		<button>插入视频</button>
		<button>插入音频</button>
		<button ng-click="insetHtml()">插入代码段</button>
		<button>左对齐</button>
		<button>中间对齐</button>
		<button>右对齐</button>
		<button>插入数学表达式</button>
		<button ng-click="selectAll()">全选</button>
		<button ng-click="unSelectAll()">全不选</button>
	</div>
	<div class="am-editor-content" contenteditable="true"><span>123456789</span></div>	
</div>

