<div>
	<section class="design-canvas-sec">

	</section>




	<!-- svg仿YouTube播放器底部工具栏 -->
	<button ng-click="pause()" style="height: 36px;width: 36px;padding:0;margin: 0;">
		<svg version="1.1" height="100%" width="100%" viewBox="0 0 36 36">

				<defs>
	 				<path class="ytp-svg-fill" d="M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z" id="ytp-svg-0">
						<animate
							id="animate-btn-0"
							attributeName="d"
							attributeType="XML"
							from="M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z"
							to="M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z"
							begin="indefinite"
							dur="0.2s"
							fill="freeze"
						/>
					</path>
	 				<path class="ytp-svg-fill" d="M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z" id="ytp-svg-1">
						<animate
							id="animate-btn-1"
							attributeName="d"
							attributeType="XML"
							to="M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z"
							from="M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z"
							begin="indefinite"
							dur="0.2s"
							fill="freeze"
						/>
					</path>
				</defs>
				
				<use class="ytp-svg-shadow" xlink:href="#ytp-svg-0"></use>
			


<!-- 
			<path class="ytp-svg-fill" d="M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z" id="ytp-svg-76"></path> -->

	<!-- 		<rect x="10" y="10" width="200" height="20" stroke="black" fill="none">
				<animate 
					attributeName="width"
					attributeType="XML"
					from="200"
					to="20"
					begin="0s"
					dur="5s"
					fill="freeze"
				/>
			</rect> -->

		</svg>		

	</button>



	
</div>